body {
  background-color: #f5f5f5;
}
#root {
  max-width: 640px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  margin: 100px auto;
  position: relative;
}

input,
button,
footer div {
  margin: auto 0px;
}

input,
button {
  outline: none;
  border: none;
}

.container {
  display: flex;
  flex-direction: column;
}
.container-row {
  display: flex;
  flex-direction: row;
}
